<form class="signup-page input-field">
  <div class="input-field">
    <h3>Sign Up</h3>
    <h6>Already a user?
      <a href='#/login'>Login</a>
    </h6>
    <input type="email" ng-model="user.email" placeholder="Email" required/>
    <input type="password" ng-model="user.password" placeholder="Password" required/>
    <input type="password" ng-model="password_repeat" placeholder="Repeat Password"required/>
  </div>
  <button class="btn light-blue" type="submit" name="signup" ng-click="signup(user)">Sign Up</button>
</form>
